.profile--page {
    height: 100vh;
    overflow: hidden;
    padding-left: 2rem;
}

.profile--content {
    padding: 0 1rem 1rem 1rem;
    width: 95%;
}

.expended {
    width: 80% !important;
}


.profile--content  {
    height: 100%;
    overflow: scroll;
    flex: 1;
}

.profile--content::-webkit-scrollbar {
    display: none;
}


