.gift--container ul{
    max-width: 50%;
}

.gift--container {
    background-color: var(--light-bg);
    padding: 1rem;
    border-radius: 1rem;
    width: 60%;

}

.width {
    width: 5rem !important;
    height: 5rem !important;
}

.main--container {
    align-items: stretch;
}

.gift--target .target{
    flex: 1;
    height: 2rem;
    border-radius: 5px;
    background-color: var(--light-primary);
    position: relative;
}
.gift--target .gift{
    height: 5rem;
    width: 5rem;
}
.gift--target .gift img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.line {
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: var(--primary);
    width: 40%;
}

.leaderboard {
    background-color: var(--light-bg);
    border-radius: 1rem;
    padding: 1rem;
    flex-grow: 1
}

.leader img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}
.leader{
    font-size: 12px;
    text-align: center;
    width: 30%;
}
.leader.trans{
    transform: translateY(30%);
}

.medal {
    margin: auto;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #009879;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
    background: #dbfff8;
}

  .top,.second {
    position: absolute;
    z-index: 10;
    top: -5rem;
  }
  .top::before,.second::after {
    content: "";
    width: 3px;
    position: absolute;
    background-color: var(--primary);
    height: 100%;
    left: 50%;
    transform: translate(-50%, 106%);
    bottom: 0px;
  }
  .top img,.second img{
    width: 3rem;
    object-fit: cover;
    border-radius: 50%;
    height: 3rem;
    border: 2px solid var(--primary);
  }
  .second {
    position: absolute;
    right: 50%;
  }
  .top {
    position: absolute;
    right: 70%;
  }

  