.edit {
    min-height: 85vh;
}

.edit .imgupload {
    width: fit-content;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
}

.file-uploader {
    padding: 5px 1rem;
    border-radius: 1rem;
    color: var(--cyan);
    font-weight: bold;

}

.cover-edit {
    height: 10rem !important;
}
.edit .imgupload {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
 .edit .imgupload:hover {
    background: #0d45a5;
  }

  .dnone {
    display: none;
  }

  .drop-container {
    position: relative;
    display: flex;
    flex: 1;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    background-color: #e4f0fc;
  }
  
  .drop-container:hover {
    background: #eee;
    border-color: #111;
  }
  
  .drop-container:hover .drop-title {
    color: #222;
  }
  
  .drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
  }

.edit--img--profile img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.edit--img--profile .edit--svg {
    position: absolute;
    bottom: 3px;
    color: white;
    background-color: var(--pending);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 1rem;
}

.edit .media label {
    background-color: var(--cyan-light);
    border-radius: 20px;
    font-size: 15px;
    color: var(--cyan) ;
    padding: 7px 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .social-link {
    background-color: var(--cyan-light);
    border-radius: 20px;
    font-size: 15px;
    color: var(--cyan) ;
    padding: 7px 1rem;
    width: 60%;
}

.danger .details-btn {
  background-color: var(--error-light);
  color: var(--error);
  font-weight: bold;
  
}
.danger .details-btn:hover {
  background-color: var(--error) !important;
  color: white;
}

.tick {
  width: 2rem;
  border-radius: 7px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  background-color: var(--cyan);

}

.edit .media label.selected {
    background-color: var(--cyan);
    color: white;
    border: none !important;
}

.edit .media input[type=radio] {
    display: none;
}

.password {
    width: 30%;
}

.edit-section {
  width: 50%;
}

.payment-m {
  border: 1px solid #d4d4d4;
  padding: 5px 1rem;
  border-radius: 5px;
}

.payment-status {
  width: 20%;
  cursor: pointer;
  color: #546bc3;
  font-weight: bold;
  border-radius: 1rem;
}

.b-default {
  border: 1px solid #546bc3;
}

.payment-status.default {
  cursor: text;
  padding: 5px 1rem;
  background-color: #eaedfc;
}