@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


:root {
  --primary: #ffb500;
  --light-primary: #ffecd5;
  --purple: #926bfa;
  --purple-light: #e9e1fe;
  --cyan: #26a3ff;
  --cyan-light: #d5edff;
  --pink: #fa6ba7;
  --pink-light: #fee1ed;
  --bg: rgb(233 237 244);
  --light-bg: #ffffff;
  --honey-shape: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  --shadow : rgba(149, 157, 165, 0.2) 0px 8px 15px;
  --success : #00ff90;
  --text : #555;
  --shipped: #72cd87;
  --shipped-light: #cdf5d3;
  --canceled: #fa7f6b;
  --canceled-light: #fdd4cd;
  --pending: #df7009;
  --pending-light: #f8b470;
}


body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  font-family: "Tajawal",-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: "Tajwal",-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important;
}

.w-fc {
  width: fit-content;
}


.pr {
  position: relative;
}

.jc-sa {
  justify-content: space-around;
}

.mt-3 {
  margin-top: 3rem;
}

.card .stars-range {
  margin: 0 auto;
}

.x-center {
  margin: 0 auto;
}

.g0 {
  gap: 0 !important;
}
.df {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.df-c {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.jc-yc {
  align-items: center;
}

.section {
  padding: 1rem;
  background-color: var(--light-bg);
  border-radius: 1rem;
}

.success {
  color: var(--success);
}

.center-content {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.jc-sb {
  justify-content: space-between !important;
  gap: 0 !important;
}

.ta-c {
  text-align: center;
}

.title-1 {
  font-weight: 700;
}

.title-2 {
  color: var(--primary);
  font-size: 2rem;
}

.ai-fs {
  align-items: flex-start !important;
}

.ai-c {
  align-items: center;
}


input[type=text], textarea{
  border: none;
  box-shadow: rgb(239 239 239) 4 1px 10px;
  height: 3rem;
  outline: none;
  border-radius: 7px;
  font-family: inherit;
  min-width: 15rem;
  font-weight: bold;
  letter-spacing: 1px;
  border: 2px solid #e8e8e8
  
}
input[type=number]{
  border: none;
  box-shadow: rgb(239 239 239) 4 1px 10px;
  height: 3rem;
  outline: none;
  border-radius: 7px;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: 1px;
  border: 2px solid #e8e8e8;
  width: 4rem !important;
}

::selection {
  background-color: var(--primary);
  color: white;
}

input[type=text]:focus,  textarea:focus {
  border: 2px solid #fff3d7;
  box-shadow: #ffe29c 0 1px 8px;
  direction: rtl;
  caret-color: var(--primary);
}

/* ======================= costum select ====================== */
#select-box {
  position: relative;

}
#select-button {
  position: relative;
  height: 42px !important;
  padding: 12px 14px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid var(--canceled);
  width: 100%;
  height: fit-content;
}

#options-view-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

#selected-value {
  font-size: 16px;
  line-height: 1;
  /* margin-right: 26px; */
  position: relative;
  text-align: center;


}

.option i {
  width: 16px;
  height: 16px;
}

.option,
.label {
  color: #2d3667;
  font-size: 16px;
}

#chevrons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  padding: 9px 14px;
}

#chevrons svg {
  position: relative;
}

#options-view-button:checked + #select-button #chevrons i {
  color: #2d3667;
}

.options {
  position: absolute;
  left: 0;
  width: 250px;
}

#options {
  position: absolute;
  top: 42px;
  right: 0;
  left: 0;
  width: 298px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 4px;
}

#options-view-button:checked ~ #options {
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

.option {
  position: relative;
  line-height: 1;
  transition: 0.3s ease all;
  z-index: 2;
}

.option i {
  position: absolute;
  left: 14px;
  padding: 0;
  display: none;
}

#options-view-button:checked ~ #options .option i {
  display: block;
  padding: 12px 0;
}

.label {
  display: none;
  padding: 0;
  margin-left: 27px;
}

#options-view-button:checked ~ #options .label {
  display: block;
  padding: 12px 14px;
}

.s-c {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
}

.s-c.top {
  top: 0;
}

.s-c.bottom {
  bottom: 0;
}

#select-box input[type="radio"] {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 50%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.s-c:hover ~ i {
  color: #fff;
  opacity: 0;
}

.s-c:hover {
  height: 100%;
  z-index: 1;
}

.s-c.bottom:hover + i {
  bottom: -25px;
  animation: moveup 0.3s ease 0.1s forwards;
}

.s-c.top:hover ~ i {
  top: -25px;
  animation: movedown 0.3s ease 0.1s forwards;
}

@keyframes moveup {
  0% {
    bottom: -25px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes movedown {
  0% {
    top: -25px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.label {
  transition: 0.3s ease all;
}

.opt-val {
  position: absolute;
    height: 99%;
    width: 98%;
    height: 50%;
    opacity: 0;
    background-color: #ffffff;
    z-index: 5;
}

.option input[type="radio"]:checked ~ .opt-val {
  opacity: 1;
  transform: scale(1);

}

.option input[type="radio"]:checked ~ i {
  top: 0;
  bottom: auto;
  opacity: 1;
  animation: unset;
}

.option input[type="radio"]:checked ~ i,
.option input[type="radio"]:checked ~ .label {
  color: #fff;
}

.option input[type="radio"]:checked ~ .label:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#options-view-button:not(:checked)
  ~ #options
  .option
  input[type="radio"]:checked
  ~ .opt-val {
  top: -30px;
}

.option:nth-child(1) input[type="radio"]:checked ~ .label:before {
  background-color: #000;
  border-radius: 4px 4px 0 0;
}


.option:nth-child(2) input[type="radio"]:checked ~ .label:before {
  background-color: #ea4c89;
}



.option:nth-child(3) input[type="radio"]:checked ~ .label:before {
  background-color: #0057ff;
}



.option:nth-child(4) input[type="radio"]:checked ~ .label:before {
  background-color: #32c766;
}



.option:nth-child(5) input[type="radio"]:checked ~ .label:before {
  background-color: #f48024;
}

.option:nth-child(6) input[type="radio"]:checked ~ .label:before {
  background-color: #006400;
  border-radius: 0 0 4px 4px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .opt-val {
  top: -231px;
  right: 5px;
    text-align: center;
}

.option .fa-codepen {
  color: #000;
}

.option .fa-dribbble {
  color: #ea4c89;
}

.option .fa-behance {
  color: #0057ff;
}

.option .fa-hackerrank {
  color: #32c766;
}

.option .fa-stack-overflow {
  color: #f48024;
}

.option .fa-free-code-camp {
  color: #006400;
}

#option-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  transition: 0.3s ease all;
  z-index: 1;
  display: none;
}

#options-view-button:checked ~ #options #option-bg {
  display: block;
}

.option:hover .label {
  color: #fff;
}

.option:nth-child(1):hover ~ #option-bg {
  top: 0;
  background-color: #000;
  border-radius: 4px 4px 0 0;
}

.option:nth-child(2):hover ~ #option-bg {
  top: 40px;
  background-color: #ea4c89;
}

.option:nth-child(3):hover ~ #option-bg {
  top: 80px;
  background-color: #0057ff;
}

.option:nth-child(4):hover ~ #option-bg {
  top: 120px;
  background-color: #32c766;
}

.option:nth-child(5):hover ~ #option-bg {
  top: 160px;
  background-color: #f48024;
}

.option:nth-child(6):hover ~ #option-bg {
  top: 200px;
  background-color: #006400;
  border-radius: 0 0 4px 4px;
}
/* ===================================================== */
/* ===================================================== */

.btn {
  
  display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 3px;
    padding: 10px 16px;
    border-radius: 4px;
    color: #fff;
    background: var(--primary);
    /* line-height: 1.15; */
    font-size: 14px;
    /* height: 25px; */
    word-spacing: 0px;
    letter-spacing: .0892857143em;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 64px;
    border: none;
    text-align: center;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover {
    background: #a27300;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}
.btn1 {
  
  display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 3px;
    padding: 10px 16px;
    border-radius: 4px;
    color: var(--cyan);
    background: var(--cyan-light);
    /* line-height: 1.15; */
    font-size: 14px;
    /* height: 25px; */
    word-spacing: 0px;
    letter-spacing: .0892857143em;
    text-decoration: none;
    text-transform: uppercase;
    min-width: 64px;
    border: none;
    text-align: center;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn1:hover {
    background: var(--cyan);
    color: white;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.ai-stretch {
  align-items: stretch !important;
}